body{
    text-align:center;
    background-image: url("../bg/background.jpg");
    background-color: rgba(13, 75, 93, 0.75);
/*    background-size:cover;*/

}

footer{
    position:absolute;
    bottom: 0px;
    width:100%;
    height: 70px;

    background-color: rgba(210, 214, 220, 1);
    border-radius: 5px;
}
/*
header{
    position: fixed;
    top: 0px;
    width:100%;
    height: 10px;
    background-color: #434343;
}
*/


.toolbar{
    margin: 0 auto;
    width:1300px;
    height:80px;
    border-radius: 20px;
    background-color:rgba(192, 203, 210, 0.1) ;
}
.inputDiv{
    padding-top: 25px;
    padding-left: 80px;
    float: left;
}
.inputText{
    height:30px;
    border-radius: 13px;
    border-bottom-style:none;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    font-size:18px;
}
.searchResultPanel{
    border:1px solid #C0C0C0;
    width:331px;
    height:auto;
    display:none;
}
.tabView{
    width: 250px;
    height: 80px;
    margin-left: auto;
    padding-top: 15px;
}
.tabView img{
    width: 50px;
    height: 50px;
}

.selectTags{
    width: 1300px;
    height: 100px;
    margin: 10px auto;
    display: none;
    border-radius: 20px;
    background-color:rgba(210, 214, 220, 1);
}
.selectTags div{
    float: left;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px dashed silver;
}

.container{
    width: 1300px;
    height:auto;
    margin: 10px auto;
    display: none;
    border-radius: 20px;
    background-color: rgba(210, 214, 220, 1);
}
.cell-border{
    background-color: rgba(210, 214, 220, 0.6);
}

.mapContainer{
    width: 1300px;
    height: 600px;
    margin: 10px auto;
    display: none;
    border-radius: 17px;
    background-color: white;
}

.loading{
    width:800px;
    height: 300px;
    margin: 100px auto;
    padding-top: 200px;
    background-color:rgba(210, 214, 220, 0.4);
    border: 1px solid rgba(152, 163, 170, 0.99);
    border-radius: 20px;

}
.loadFail{
    width:800px;
    height: 300px;
    margin: 100px auto;
    padding-top: 200px;
    background-color: white;
    background-color:rgba(210, 214, 220, 0.8);
    border: 1px solid rgba(152, 163, 170, 0.99);
    border-radius: 20px;
    display: none;
}